body{
    background-color: rgb(0, 115, 192);
}
#cointener{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#btn{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: aqua;
}
#pass{
    display: flex;
    align-items: center;
    background-color: rgb(28, 53, 66);
    color: rgb(101, 203, 219);
    font-size: 30px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    margin-left: 12px;
    padding-left: 5px;

}
h2{
    font-size: 40px;
}